{% if site.email %}<a href="mailto:{{ site.email | encode_email }}" style="font-size: 2.2rem;"><i class="fas fa-envelope fa-xs"></i></a>{% endif %}
{% if site.orcid_id %}<a href="https://orcid.org/{{ site.orcid_id }}" target="_blank" title="ORCID" style="font-size: 2.2rem;"><i class="ai ai-orcid"></i></a>{% endif %}
{% if site.scholar_userid %}<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" style="font-size: 2.2rem;" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar fa-xs"></i></a>{% endif %}
{% if site.publons_id %}<a href="https://publons.com/a/{{ site.publons_id }}/" target="_blank" title="Publons" style="font-size: 2.2rem;"><i class="ai ai-publons fa-xs"></i></a>{% endif %}
{% if site.research_gate_profile %}<a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" target="_blank" title="ResearchGate" style="font-size: 2.2rem;"><i class="ai ai-researchgate fa-xs"></i></a>{% endif %}
{% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub" style="font-size: 2.2rem;"><i class="fab fa-github fa-xs"></i></a>{% endif %}
{% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn" style="font-size: 2.2rem;"><i class="fab fa-linkedin fa-xs"></i></a>{% endif %}
{% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter" style="font-size: 2.2rem;"><i class="fab fa-twitter fa-xs"></i></a>{% endif %}
{% if site.medium_username %}<a href="https://medium.com/@{{ site.medium_username }}" target="_blank" title="Medium" style="font-size: 2.2rem;"><i class="fab fa-medium fa-xs"></i></a>{% endif %}
{% if site.quora_username %}<a href="https://www.quora.com/profile/{{ site.quora_username }}" target="_blank" title="Quora" style="font-size: 2.2rem;"><i class="fab fa-quora fa-xs"></i></a>{% endif %}
{% if site.blogger_url %}<a href="{{ site.blogger_url }}" target="_blank" title="Blogger"><i class="fab fa-blogger-b" style="font-size: 2.2rem;"></i></a>{% endif %}
{% if site.work_url %}<a href="{{ site.work_url }}" target="_blank" title="Work"><i class="fas fa-briefcase" style="font-size: 2.2rem;"></i></a>{% endif %}
{% if site.wikidata_id %}<a href="https://www.wikidata.org/wiki/{{ site.wikidata_id }}" target="_blank" title="Wikidata" style="font-size: 2.2rem;"><i class="fas fa-barcode fa-xs"></i></a>{% endif %}
{% if site.strava_userid %}<a href="https://www.strava.com/athletes/{{ site.strava_userid }}" target="_blank" title="Strava" style="font-size: 2.2rem;"><i class="fab fa-strava fa-xs"></i></a>{% endif %}
{% if site.keybase_username %}<a href="https://keybase.io/{{ site.keybase_username }}" target="_blank" title="Keybase" style="font-size: 2.2rem;"><i class="fab fa-keybase fa-xs"></i></a>{% endif %}
{% if site.gitlab_username %}<a href="https://gitlab.com/{{ site.gitlab_username }}" target="_blank" title="GitLab" style="font-size: 2.2rem;"><i class="fab fa-gitlab fa-xs"></i></a>{% endif %}
{% if site.youtube_channel_link %}<a href="{{ site.youtube_channel_link }}" target="_blank" title="Youtube" style="font-size: 2.2rem;"><i class="fab fa-youtube fa-xs"></i></a>{% endif %}
